
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Lambda pod</title>
<meta name="author" content="lambdapod">
<link href='/lambda-pod/css/style.css' rel="stylesheet" media="all">
<link href="http://feeds.feedburner.com/" rel="alternate" title="Groovy" type="application/atom+xml">
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
</head>
<body>

<div id="page" class="hentry">
<header class="the-header">
<div class="unit-head">
<div class="unit-inner unit-head-inner">
<p class="logo"><a href="/lambda-pod/">Lambda pod</a></p>
<nav class="nav-global">
<ul>
<li><a href="http://feeds.feedburner.com/sayeret-pod"><img src="/lambda-pod/assets/images/rss.png" style="border-width:0;margin: 0 0 0 0"></a> </li>
<!-- <li class="archive"><a href="/archive.html">archive</a></li> -->
<!-- <li class="page"><a href="/pages.html">pages</a></li> -->
<!-- <li class="category"><a href="/categories.html">categories</a></li> -->
<!-- <li class="tag"><a href="/tags.html">tags</a></li> -->
</ul>
</nav>
</div><!-- unit-inner -->
</div><!-- unit-head -->
</header>
<div class="body" role="main">
<div class="unit-body">
<div class="unit-inner unit-body-inner">
<div class="entry-content">
<p><article class="unit-article layout-post"></p>
<div class="unit-inner unit-article-inner">
<div class="content">
<header>
<div class="unit-head">
<div class="unit-inner unit-head-inner">
<h1 class="h2 entry-title">Groovy</h1>
</div><!-- unit-inner -->
</div><!-- unit-head -->
</header>

<div class="bd">
<div class="entry-content">
<h2>Overview</h2>
<p>This is our sixth <a href="http://dl.dropbox.com/u/116845/lambda-pod-6.mp3">episode!</a> in it we cover:</p>
<ul>
<li><p>Interview with <a href="http://glaforge.appspot.com/">Guillaume Laforge</a> lead Architect of the <a href="http://groovy.codehaus.org/">Groovy</a> Language.</p>
</li>
<li><p>In what we did section we cover:</p>
</li>
</ul>
<p>Yardena set up Jenkins and explored <a href="http://www.liquibase.org/">Liquibase</a> for schema management, she did research on <a href="http://www.scala-lang.org/archives/downloads/distrib/files/nightly/docs/library/scala/reflect/api/Mirror.html">Scala reflection</a> as an alternative for AspectJ.</p>
<p>Ronen worked did lots of <a href="http://puppetlabs.com/puppet/what-is-puppet/">Puppet</a> work and used <a href="https://github.com/rodjek/librarian-puppet">librarian-puppet</a> to manage its depdencies, <a href="http://narkisr.github.io/lambda-pod/episode/2013/01/29/lambda-pod-groovy-episode/url">FPM</a> and <a href="http://narkisr.github.io/lambda-pod/episode/2013/01/29/lambda-pod-groovy-episode/url">Vagrant</a> too, you can view the slide of the talk I gave in <a href="http://narkisr.github.com/vagrant-sketching-board/index.html#/">devopscon</a>.</p>
<p>We mentioned Javascript <a href="http://www.youtube.com/watch?v=kXEgk1Hdze0&amp;feature=youtu.be">WAT</a> (JS humor), Ruby under a microscope intro <a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=0npv906IQag">video</a>.</p>
<p>In our discussion about Clojure macros Ronen mentioned <a href="https://github.com/ztellman/sleight">sleight</a> for global macro application.</p>
<ul>
<li>In the news we covered:</li>
</ul>
<p>LLVM gets loop <a href="http://www.phoronix.com/scan.php?page=news_item&amp;px=MTIxNTY">vectorizer</a></p>
<p><a href="http://mail.openjdk.java.net/pipermail/announce/2012-November/000139.html">Nashorn</a> JVM javascript engine is out (replacing Rhino).</p>
<p>Clojure 1.5 rc 1 is out</p>
<p>Scala 2.10 is (almost) out</p>
</div><!-- entry-content -->
<div class="misc-content">
<div class="social">
<ul class="list-linear">
<li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="saylambda" data-lang="en">Tweet</a></div></li>
<li><div class="twitter-follow"><a href="https://twitter.com/saylambda" class="twitter-follow-button" data-show-count="false" data-lang="en"></a></div></li>
</ul>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'lambdapod'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div><!-- misc-content -->

</div><!-- bd -->
<footer class="unit-foot">
<div class="unit-inner unit-foot-inner">
<nav class="pagination">
<ul>
<!-- {% if previous %} -->
<li class="prev"><a class="internal" rel="prev"  href="{{ previous.url }}" title="View {{ previous.title }}">&laquo; {{ previous.title }}</a></li>
<!-- {% endif %} -->
<!-- {% if previous and next %} -->
<li class="pipe"> | </li>
<!-- {% endif %} -->
<!-- {% if next %} -->
<li class="next"><a class="internal" rel="next"  href="{{ next.url }}" title="View {{ next.title }}">{{ next.title }} &raquo;</a></li>
<!-- {% endif %} -->
</ul>
</nav>
<p class="gotop">
<a href="#>Back to Top</a>
</p>
</div>
</footer>

</div><!-- content -->
</div><!-- unit-inner -->
<p></article></p>
</div>
</div><!-- unit-inner -->
</div><!-- unit-body -->
</div><!-- body -->
<footer class="the-footer">

<div class="unit-foot">
<div class="unit-inner unit-foot-inner">
<div class="misc vcard">

<small>
Podcast is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>,
music in the podcast is by <a href="http://www.jamendo.com/en/artist/substan">Substan</a>, the song is <a href="http://www.jamendo.com/en/download/track/904905">Labyrinth of mirrors</a> and carries the same license.
</small>


</div><!-- misc -->
</div><!-- unit-foot-inner -->
</div><!-- unit-foot -->
</footer>
</div><!-- page -->
<script>
(function(d, s) {
var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.src = url; js.id = id;
fjs.parentNode.insertBefore(js, fjs);
};
load('//platform.twitter.com/widgets.js', 'tweetjs');
}(document, 'script'));
</script>
<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>

</body>
</html>